## Build constructs:
Makefile
Makefile.old
*.gz
blib/
none/
pm_to_blib
MYMETA.*

## Editor temporary files:
*~
*.swp
*#
.#*

## Git stuff
*.blame
*.patch
*.diff

## Testing artifacts:
bucardo_test_database_*
*.log
log.bucardo

## Temporary files:
tmp/
*.tmp
*.asc
*.tar

## Local notes:
notes.*
